.header, .footer{
  background-color: #d8d8d8;
  height: 10vh;
  flex: 0 0 auto;
}

.header__title, .footer__title{
  text-align: center;
  padding: 10px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main{
  flex: 1 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.main__item{
  width: 30%;
  margin-right: 10px;
  border: 1px solid #000;
  text-align: center;
}

.main-item:last-of-type{
  margin-right: 0;
}